/*DOWNLOADED FONT FOR MENU PAGE*/
@FONT-FACE {
	FONT-FAMILY: YUMMY FOODIES;
	SRC: URL("Yummy Foodies.ttf");
}

/*DEFAULT SANS-SERIF FONT THROUGHOUT THE WEBSITE*/
@FONT-FACE {
	FONT-FAMILY: POPPINS;
	SRC: URL("Poppins.ttf");
}

/*700 SANS-SERIF FONT FOR A TAG*/
@FONT-FACE {
	FONT-FAMILY: POPPINSB;
	SRC: URL("Poppins Bold.ttf");
}


/*HEADER - LOGO AND NAVIGATION BAR FROM LANDING PAGE WITH SOME EDITS*/

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin:auto;
}

header .logo
{
    position: relative;
    max-width: 75px;
	max-height: 100px;
	left: 150%;
	margin:auto;
}
header .navigation
{
    position: absolute;
    display: flex;
	margin: auto;
	left: 60%;

}
header .navigation li
{
    list-style: none;
}
header .navigation li a
{
    display: inline-block;
    color: #fff;
    font-weight: 500;
	font-family: POPPINS;
    text-decoration: none;
	margin: auto;
	margin-left: 40px;
	margin-top: 20px;
}

header .navigation li a:hover {
	color: #E8AB35;
}

/*START OF MENU STYLE SHEET*/

* { 
	MARGIN: 0PX;
	PADDING:0PX;
	BOX-SIZING: BORDER-BOX;
}

BODY {
	BACKGROUND-COLOR: #161616;
	TEXT-ALIGN: CENTER;
	MARGIN: AUTO;
	PADDING: 10PX;
	WIDTH: 1430PX;
}

.TITLE {
	WIDTH: 700PX;
	FONT-SIZE: 100PX;
	COLOR: #FEFCFF;
	FONT-WEIGHT: 700;
	POSITION: ABSOLUTE;
	TOP: 50%;
	LEFT: 50%;
	TRANSFORM: TRANSLATE(-50%, -50%);
	FONT-FAMILY: YUMMY FOODIES;
}

.TITLECAT {
	WIDTH: 800PX;
	FONT-SIZE: 75PX;
	COLOR: #E8AB35;
	FONT-WEIGHT: 700;
	FONT-FAMILY: YUMMY FOODIES;
	MARGIN: AUTO;
	MARGIN-TOP: -50PX;
	
}

.SUBTITLE {
	FONT-FAMILY: POPPINS;
	COLOR: #FEFCFF;
	FONT-SIZE: 18PX;
	WIDTH: 700PX;
	MARGIN: AUTO;
}

.SUBTITLECAT {
	FONT-FAMILY: POPPINS;
	COLOR: #FEFCFF;
	FONT-SIZE: 18PX;
	WIDTH: 700PX;
	MARGIN: AUTO;
	MARGIN-TOP: -50PX;
}

.CATEGORY {
	COLOR: #E8AB35;
	FONT-WEIGHT: 700;
	FONT-SIZE: 50PX;
	FONT-FAMILY: YUMMY FOODIES;
	WIDTH: 33.33%;
	FLOAT: LEFT;
	MARGIN-TOP: 0PX;
}

.CATEGORYLAST {
	COLOR: #E8AB35;
	FONT-WEIGHT: 700;
	FONT-SIZE: 50PX;
	FONT-FAMILY: YUMMY FOODIES;
	WIDTH: 33.33%;
	MARGIN: AUTO;
	MARGIN-TOP: 0PX;
}

.CATEGORYR {
	COLOR: #E8AB35;
	FONT-WEIGHT: 700;
	FONT-SIZE: 35PX;
	FONT-FAMILY: YUMMY FOODIES;
	WIDTH: 25%;
	FLOAT: LEFT;
	MARGIN-TOP: -30PX;
	TEXT-ALIGN: CENTER;
	MARGIN-BOTTOM: 0PX;
}

.CATEGORYL {
	COLOR: #E8AB35;
	FONT-WEIGHT: 700;
	FONT-SIZE: 35PX;
	FONT-FAMILY: YUMMY FOODIES;
	WIDTH: 25%;
	FLOAT: RIGHT;
	MARGIN-TOP: -300PX;
	MARGIN-RIGHT: 180PX;
	TEXT-ALIGN: CENTER;
}

.DESCRIPTION {
	FONT-FAMILY: POPPINS;
	COLOR: #FEFCFF;
	FONT-SIZE: 18PX;
	WIDTH: 32.33%;
	FLOAT: LEFT;
	MARGIN-TOP: 0PX;
	MARGIN-LEFT: 10PX;
}

.DESCRIPTIONR {
	FONT-FAMILY: POPPINS;
	COLOR: #FEFCFF;
	FONT-SIZE: 18PX;
	WIDTH: 30%;
	FLOAT: LEFT:;
	TEXT-ALIGN: LEFT;
	MARGIN-LEFT: 220PX;
}

.DESCRIPTIONL {
	FONT-FAMILY: POPPINS;
	COLOR: #FEFCFF;
	FONT-SIZE: 18PX;
	WIDTH: 29%;
	FLOAT: RIGHT;
	MARGIN-TOP: -205PX;
	MARGIN-RIGHT: 120PX;
	TEXT-ALIGN: LEFT;
}

.DESCRIPTIONC {
	FONT-FAMILY: POPPINS;
	COLOR: #FEFCFF;
	FONT-SIZE: 18PX;
	WIDTH: 35%;
	MARGIN: AUTO;
	MARGIN-TOP: 100PX;
	TEXT-ALIGN: LEFT;

}

.DESCRIPTIONLAST {
	FONT-FAMILY: POPPINS;
	COLOR: #FEFCFF;
	FONT-SIZE: 18PX;
	WIDTH: 33.33%;
	MARGIN: AUTO;
	MARGIN-TOP: 0PX;
}

A.MENU {
	TEXT-DECORATION: NONE;
	BACKGROUND-COLOR: #E8AB35;
	WIDTH: 200PX;
	PADDING: 10PX;
	MARGIN-RIGHT: 130PX;
	MARGIN-LEFT: 130PX;
	MARGIN-BOTTOM: 100PX;
	FONT-FAMILY: POPPINSB;
	FONT-SIZE: 25PX;
	FONT-WEIGHT: 700;
	COLOR: #FEFCFF;
	FLOAT: LEFT;
}

A.MENULAST {
	TEXT-DECORATION: NONE;
	BACKGROUND-COLOR: #E8AB35;
	WIDTH: 200PX;
	PADDING: 10PX;
	PADDING-LEFT: 55PX;
	PADDING-RIGHT: 55PX;
	FONT-FAMILY: POPPINSB;
	FONT-SIZE: 25PX;
	FONT-WEIGHT: 700;
	COLOR: #FEFCFF;
}

A.MENU:HOVER {
	BACKGROUND-COLOR: #FEFCFF;
	COLOR: #E8AB35;
}

A.MENULAST:HOVER {
	BACKGROUND-COLOR: #FEFCFF;
	COLOR: #E8AB35;
}

IMG.MENU {
	WIDTH: 450PX;
	HEIGHT: 250PX;
	MARGIN: 0PX;
	PADDING: 0PX;
}

IMG.MENUR {
	WIDTH: 75PX;
	HEIGHT: 275PX;
	FLOAT: LEFT;
	MARGIN-LEFT: 140PX;
	MARGIN-RIGHT: 30PX;
}

IMG.MENUL {
	WIDTH: 75PX;
	HEIGHT: 275PX;
	MARGIN-RIGHT: 560PX;
	MARGIN-TOP: -210PX;
	FLOAT: RIGHT;
}
IMG.MENUC {
	WIDTH: 75PX;
	HEIGHT: 275PX;
	MARGIN: AUTO;
	MARGIN-LEFT: 440PX;
	MARGIN-RIGHT: 30PX;
	FLOAT: LEFT;
}

IMG.CAT {
	WIDTH: 1300PX;
	HEIGHT: 700PX;
}

IMG.MENUBACK {
	WIDTH: 450PX;
	HEIGHT: 275PX;
	MARGIN-TOP: 10PX;
	PADDING-TOP: 10PX;
	PADDING-BOTTOM: 10PX;
	BACKGROUND-COLOR: #5CC35C
}


.TOPIMAGE {
	MARGIN: AUTO;
	BACKGROUND-COLOR: #5CC35C;
	PADDING-TOP: 10PX;
	PADDING-BOTTOM: 80PX;
	MARGIN-TOP: 150PX;
}

.TOPIMAGECAT {
	MARGIN: AUTO;
	MARGIN-TOP: 150PX;
}

IMG ALT {
	FONT-FAMILY: POPPINS;
	COLOR: #FEFCFF;
	FONT-SIZE: 18PX;
}
